body {
  background-color: #E8E8E8;
  margin: 150px 0px 0px 0px;
  font-family: arial;
  overflow-x:hidden;
}

ul {
  list-style: none;
  display: flex;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282A35;
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
} 

header {
  max-width: 100vw
}

#header-img {
  width: 80px;
  height: 80px;
  
 }

.nav-link {
  font-size: 20px;
  padding: 90px;
  text-decoration: none;
  color: #f1f1f1;
  text-shadow: 3px 3px black;
  
}

h1 {
  font-size: 40px;

  color: #f1f1f1;
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 3px 3px black;
  }

#register {
  text-align: center;
  font-size: 45px;
}

#email { 
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 20px; 
}

#feature {
  padding-top: 50px;
  grid-column: 1/3;
  font-size: 40px;
}

#f-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#s-feature {
  text-align: center;
  display: grid;
  grid-template-columns: 300px 300px;
  row-gap: 20px;
  width: 600px;
  align-items: center;
    
}

.instrument {
  font-size: 30px
}

section img {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px black;
}

#submit {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 30px;
  font-size: 18px
}

#iframe {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  
}

#valores {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 60px 20px;
  justify-content: center;
  column-gap: 110px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.comprar {
  text-align: center; 
  border: solid ;
  padding-bottom: 8%;
  border-radius: 10%;
  box-shadow: 5px 5px 5px black;
  background-color: white
}

#footer {
  background-color: #282A35;
  padding: 20px 10px 20px 0px;
  font-size: 15px;
  color: #f1f1f1;
  text-shadow: 2px 2px black;
  text-align: end;
  max-width: 100%;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  }

footer {
 max-width: 100vw;
}


@media (max-width: 1024px) {
   #header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #282A35;
  position: fixed;
  margin: 0;
  top: 0;
  }
  
  h1 {
    font-size: 30px;
       
  }

  #header-img {
  width: 50px;
  height: 50px;
  
  }
  
  .nav-link {
  font-size: 15px;
  padding: 20px;
  text-decoration: none;
  color: #f1f1f1;
  text-shadow: 3px 3px black; 
   
  }
  
}

@media (max-width: 769px) {
  #header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #282A35;
  position: fixed;
  margin: 0;
  top: 0;
  }
  
  h1 {
    font-size: 30px;
       
  }

  #header-img {
  width: 50px;
  height: 50px;
  
  }
  
  .nav-link {
  font-size: 15px;
  padding: 20px;
  text-decoration: none;
  color: #f1f1f1;
  text-shadow: 3px 3px black; 
   
  }
  
  #f-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
  
  
#s-feature {
  display: flex;
  flex-direction: column;
   }
  
  #iframe {
    width: 100vw
  }
  
  #valores {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center; 
   
}
  .comprar {
  text-align: center; 
  border: solid ;
  padding-bottom: 8%;
  border-radius: 10%;
  box-shadow: 5px 5px 5px black;
  background-color: white;
  width: 250px  
}
}